:root {
  --color-primary: #f5f5f5;
  --color-secondary: #fff;
  --color-accent: #000;
  --color-accent-light: #ff6044;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  gap: 0.5rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f5f5f5;
}

h3 {
  color: rgb(234, 239, 255);
  font-size: 3rem;
}

@media screen and (max-width: 400px) {
  .game-board {
    width: 380px;
    height: 380px;
  }
  .language-select__options {
    margin: 2rem 16px;
  }
}
@media screen and (min-width: 401px) {
  .game-board {
    width: 400px;
    height: 400px;
  }
  .language-select__options {
    margin: 2rem 0;
  }
}

.game-board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  background-color: #f5f5f5;
  margin-bottom: 2rem;
  padding: 16px;
  box-shadow: #ddd 6px 6px 19px;
  border-radius: 5px;
}
.app-logo {
  width: 243px;
  height: 100px;
  margin: 20px 0;
}

.game-board .die {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  font-size: 2rem;
  font-weight: 700;
  border-radius: 5px;
}

.word-check__input {
  width: 50%;
  height: 3.8rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: var(--color-secondary);
  color: var(--color-accent);
  outline: none;
}

button {
  min-width: 50%;
  background-color: var(--color-accent);
  color: var(--color-secondary);
  border: none;
  margin-bottom: 1rem;
  border-radius: 5px;
  height: 4rem;
  font-size: 1.2rem;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

button:disabled:hover {
  box-shadow: none;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.65) 0 6px 14px;
}

.vertical-divider {
  border-left: 1px solid #dddeee;
  height: 3rem;
}

.timer {
  font-size: 2rem;
  font-weight: 600;
  background: var(--color-accent-light);
  border-radius: 5px;
  width: 50%;
  height: 4rem;
  margin: 0 auto;
  cursor: pointer;
  color: #fff;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.language-select__options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.language-select__options .language-select__option {
  font-size: 1.2rem;
  color: #fff;
  width: 33%;
}

.old-new-select .language-select__options .language-select__option {
  width: 50%;
}

.language-select__option button {
  margin: 0;
  width: 100%;
}

.language-select
  .language-select__options
  .language-select__option
  button:active {
  box-shadow: none;
  transform: translateY(0);
}

.language-select__option .active {
  background-color: var(--color-accent-light);
  box-shadow: none;
  color: #000;
}

.language-select__option .inactive {
  background-color: var(--color-secondary);
  box-shadow: none;
  color: #000;
}

.active:hover,
.inactive:hover {
  box-shadow: none;
  transform: none;
}

.die.left {
  transform: rotate(90deg);
}

.die.right {
  transform: rotate(-90deg);
}

.die.top {
  transform: rotate(180deg);
}

.die.bottom {
  transform: rotate(0deg);
}
